@import "tailwindcss";

@theme {
  --color-verde: #2d4a22;
  --color-preto: #1a1a1a;
  --color-branco: #ffffff;
  --color-cinza: #f5f5f5;
  --color-cinza-escuro: #999999;
  --color-laranja: #e67e22;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
